.dashboard .top-selling {
    font-size: 14px;
}

.dashboard .top-selling .table thead {
    background-color: #f6f6fe !important;
}

.dashboard .top-selling .table thead th {
    border: 0;
}

.dashboard .top-selling .table tbody td {
    vertical-align: middle;
}

img {
    max-width: 60px;
    vertical-align: middle;
}